
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                   @Html.ActionLink("Customer List","Index","Customer")
                </div>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>



